<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>CSC400</title>
  <!-- <link rel="stylesheet" href="/public/styles.css"> -->
</head>
<body>
    <div>
        <h1>Since the server started, this page has been visited: <%= count %> times.</h1>
        <h2><a href="https://twitter.com/csc400Node">Click here to see the twitter feed that tweets the number of viewers since the server was restarted.</a></h2>
    </div>
</body>
